<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.starwars">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".StartWarsApplication"
        android:theme="@style/AppTheme">

        <activity android:name=".listcharacters.ListCharactersActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".detailscharacter.DetailsCharacterActivity" >

        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d7385aa727a9c30a59349f6a088c20e4e6c7c2a8" />
    </application>

</manifest>
